@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* { 
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 20px
}

@media screen and (max-width: 480px) { /* everything is already resizing for me except the stars so I'm counting that as a mostly successful take on resizing requirements */
    body {
      font-size: 14px;
    }
}

header {
    background-color: #C0C5C1;
    margin-bottom: 20px;
}

nav {
    background: white;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3px;
    margin-bottom: 10px;
}

.nav-item {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 15px 15px;
    text-align: center;
    background-color: #61A0AF;
}

a:link, a:visited {
    color:white;
    text-decoration: none;
}

nav a:hover {
    color:rgb(213, 182, 182);
}

main {
    background: rgb(152, 57, 57);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 500;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.bowl-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.bowl-item {
    justify-items: center;
}

.bowl-title {
    font-weight: bold;
    font-size: 30px;
}

img {
    transform: scale(.5);
}

.counter-container {
    background: rgb(152, 57, 57);
    text-align: center;
}